.complete {
  background: rgb(152, 221, 175);
  color: rgb(17, 112, 37);
  text-align: center;
  font-weight: bold;
  font-size: 1.1em;
  padding: 15px;
  border: 2px solid rgb(17, 112, 37);
  margin: 10px;
}
