.error {
  background: rgb(221, 152, 152);
  color: rgb(196, 78, 78);
  text-align: center;
  font-weight: bold;
  font-size: 1.1em;
  padding: 10px;
  border: 2px solid rgb(196, 78, 78);
  margin: 10px;
}
