@import "variables";

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;

  background: $form-bg;
  height: 700px;
  margin: 50px auto;
  width: 70%;
  box-shadow: 1px 1px 5px 2px black;

  .card {
    padding: 20px;
    background: $card-bg;
    height: 90%;
    width: 90%;
    position: relative;

    select {
      background: $form-bg;
      width: 50%;
      height: 30px;
      margin-bottom: 10px;
      cursor: pointer;

      option {
        height: 60px;
        font-weight: bold;
        font-size: 1.2em;
        cursor: pointer;

        &:hover {
          background: red;
        }
      }
    }
    label {
      color: $text-color;
      margin-bottom: 10px;
    }

    p {
      margin-bottom: 10px;
      margin-top: 20px;
    }

    label,
    p {
      font-weight: bold;
      display: block;
    }

    #basic,
    #full {
      display: inline;
    }

    iframe {
      width: 200px;
      height: 200px;
      display: none;
      margin: 30px auto;
    }

    .btn {
      margin-top: 20px;
      border: none;
      width: 150px;
      margin-top: 30px;
      height: 40px;
      font-weight: 900;
      font-size: 1.1em;
      text-shadow: 2px 2px 5px $form-bg;
      border-radius: 500px;
      background: #afc1d6;
      color: $btn-bg;
      cursor: pointer;
      position: absolute;
      left: 50%;
      bottom: 30px;
      letter-spacing: 2px;
      box-shadow: 2px 2px 5px 1px $form-bg;
      transform: translateX(-50%);

      &:hover {
        background: $form-bg;
        box-shadow: 2px 2px 5px 1px $btn-bg;
        transition: 0.5s;
      }
    }
    @media (max-width: 356px) {
      font-size: 0.7em;
    }
  }
}
