.quot-msg {
  color: black;
  text-align: center;
  margin: 10px auto;
  background: grey;
  padding: 10px;
  border-radius: 5px;
  width: 50%;
  height: 200px;
  border: 2px solid black;

  @media screen and (max-width: 740px) {
    width: 80%;
  }
  @media screen and (max-width: 520px) {
    font-size: 0.7em;
    width: 90%;
  }
}
